<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top shadow-sm">
    <div class="container">

        <!-- LOGO -->
        <a class="navbar-brand fw-bold" asp-controller="Tienda" asp-action="Index">
            CiberProto
        </a>

        <!-- TOGGLER -->
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarStore">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarStore">

            <!-- LINKS -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a asp-controller="Tienda"
                       asp-action="Index"
                       class="nav-link">
                        Tienda
                    </a>
                </li>

                <li class="nav-item">
                    <a asp-controller="Catalogo"
                       asp-action="Index"
                       class="nav-link">
                        Productos
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Institucional" asp-action="Nosotros">Nosotros</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Institucional" asp-action="Contacto">Contacto</a>
                </li>
            </ul>

            <!-- RIGHT MENU -->
            <ul class="navbar-nav ms-auto align-items-center">

                <!-- CARRITO -->
                <li class="nav-item me-3">
                    <a asp-controller="Carrito"
                       asp-action="Index"
                       class="nav-link position-relative">
                        <i class="bi bi-cart3 fs-5"></i>

                        <span class="position-absolute top-0 start-100 translate-middle
                                     badge rounded-pill bg-danger">
                            @*  @Context.Session.GetInt32("CarritoCantidad") ? 0 *@
                            @(Context.Session.GetInt32("CarritoCantidad") ?? 0)
                            
                        </span>
                    </a>
                </li>

                <!-- USUARIO -->
                <li class="nav-item dropdown">
                    

                    <ul class="navbar-nav ms-auto align-items-center">
                        @if (Context.Session.GetString("UsuarioRol") == "CLIENTE")
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
                                    <i class="bi bi-person-circle me-1"></i>
                                    @Context.Session.GetString("UsuarioNombre")
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="#"><i class="bi bi-box-seam me-2"></i> Mis pedidos</a></li>
                                    <li><hr class="dropdown-divider" /></li>
                                    <li><a class="dropdown-item py-2" asp-controller="UsuarioLogin" asp-action="Perfil"><i class="bi bi-person me-2"></i>Mi Perfil</a></li>
                                    <li><hr class="dropdown-divider" /></li>
                                    <li>
                                        <a asp-controller="UsuarioLogin" asp-action="Logout" class="dropdown-item text-danger">
                                            <i class="bi bi-box-arrow-right me-2"></i> Cerrar sesión
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a asp-controller="UsuarioLogin" asp-action="LoginCliente" class="btn btn-outline-light btn-sm">
                                    <i class="bi bi-box-arrow-in-right me-1"></i> Iniciar Sesión
                                </a>
                            </li>
                        }
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>
